# Should ideally write .env here. However, since this is a demo project, we will be
# pushing our .env file to GitHub (for later reference)
# *.env

node_modules/


#future scope - 
# 1. transaction commit + rollback
# 2. models folder
# 3. nodemailer
# 4. res.send() - proper way to handle
# 5. VERY IMPORTANT - CODE ORGANIZATION AS PER CONVENTIONS